body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.brand-title {
    font-size: 1.5em;
    color: white;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar-links a:hover {
    background-color: #555;
}

.navbar-extra a {
    color: white;
    margin: 0 0.2rem;

}


.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 21px;
    width: 30px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../image/kopi1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
}

.hero .content {
    padding: 1.1rem 5%;
    max-width: 40rem;
}

.hero .content h1{
    font-size: 2.7em;
    color: white;
    text-shadow: 1px 1px 3px;
}

.hero .content p{
    font-size: 1rem;
    margin-top: 0.1rem;
    font-weight: 100;
}

.hero .content .cta{
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.5rem 2rem ;
    font-size: 1rem;
    color: white;
    background-color: var(--primary);
}

.about{
    padding: 10rem 7% 1.4rem;
    background-color: #1b1b1b;
}

.about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: rgb(255, 255, 255) !important;
}

.about h2 span{
    color: var(--primary);

}

.about .row{
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 50%;

}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;

}

.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.6;
}

.menu {
    background-color: black !important;
    padding-top: 5rem;
}

.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.5;
}

.menu h2{
    margin-bottom: 2rem;
    text-align: center;
}

.menu .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card{
    text-align: center;

}

.menu .row .menu-card img{
    border-radius: 10%;
    margin-left: 2rem;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1.5rem auto 1rem;
}

.menu .row .menu-card button{
    width: 5rem;
    height: 2rem;
    border-radius: 3%;
}
.contact{
    background-color: black !important;
    padding-top: 2rem;
}

.contact h2{
    text-align: center;
}
.contact p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.5;
}

.contact h2{
    color: white;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}

.contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 2px solid #eee;
    padding-left: 1rem;  
}

/*footer*/
footer {
    background-color: #333;  
    text-align: center;
    padding-top: 2rem;

}


footer .socials {
    padding: auto;


}

footer .socials a {
    color: white;
    margin: 1rem;

}

footer .socials a:hover,
footer .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1rem;

}

footer .links a{
    color:rgb(255, 255, 255);
    padding: 0.7 rem 1rem;

}

footer  .credit {
    font-size: 0.8rem;
}

footer .credit {
    color: var(--bg);
    font-weight: 700;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links.active {
        display: flex;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-extra{
        display: none;
    }

    .about .row{
        flex-wrap: wrap;
    }
}

